.nameSection {
  background-color: rgb(97, 97, 255);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}
