.control-buttons {
  background-color: white;
  width: 350px;
  height: 4rem;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-job-button {
  width: 80px;
  height: 40px;
  color: grey;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
}

.add-job-button:hover {
  background-color: rgb(245, 253, 245);
}

.add-education-button {
  width: 120px;
  height: 40px;
  color: grey;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  margin-left: 15px;
}

.add-education-button:hover {
  background-color: rgb(245, 253, 245);
}

.reset-button {
  width: 70px;
  height: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(202, 65, 65);
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  margin-left: 15px;
}

.reset-button:hover {
  background-color: rgb(248, 71, 71);
}

.boxInfoContainer {
  background-color: white;
  width: 350px;
  height: 380px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.boxHeading {
  margin-left: 20px;
  font-size: 1.3rem;
}

.boxInfoForm {
  display: flex;
  flex-direction: column;
}

.dateBox {
  display: flex;
  flex-direction: row;
}

.boxInfoContainertwo {
  background-color: white;
  width: 350px;
  height: 480px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.boxInfoContainertwo-closed {
  background-color: white;
  width: 350px;
  height: 80px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edHeadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.menuToggle {
  font-weight: 800;
  font-size: 25px;
  position: relative;
  bottom: 5px;
}

.menuToggle:hover {
  cursor: pointer;
  color: lightgray;
}
/* Education experienec seciton */
.boxInfoContainer-Ed-Exp {
  background-color: white;
  width: 350px;
  height: 28rem;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* work experience box */
.boxInfoContainer-Exp {
  background-color: white;
  width: 350px;
  height: 36rem;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.descriptionBox {
  width: 80%;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
}

.navbar {
  width: 120px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

.nav-icons {
  font-size: 20px;
  padding-top: 10px;
}

.content,
.customize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 80%;
}

.content:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
}

.customize:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
}

.navText {
  margin-bottom: 10px;
}

/* custom box css */
.custom-form-container {
  background-color: white;
  width: 350px;
  height: 120px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.inner-container {
  position: relative;
  left: 15px;
}

.form-title {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.color-container {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-container > p {
  font-size: 15px;
  width: 60px;
}

.color-sphere {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: aquamarine;
  box-shadow: 0px 0px 40px 1px rgb(224, 224, 224);
}

.font-change-container {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-change-container > p {
  width: 100%;
}

.font-inner-container {
  position: relative;
  left: 15px;
  width: 120px;
}

.button-container {
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.delete-button {
  color: grey;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
}

.delete-button:hover {
  color: white;
  background-color: grey;
}

.save-button {
  color: white;
  background-color: #187ff5;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  font-weight: 700;
}

.save-button:hover {
  background-color: #4f9ffb;
}

.box-icon {
  margin-right: 5px;
}
