.print-button {
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  border: none;
  background-color: rgb(97, 190, 97);
  color: white;
  font-weight: 700;
  font-size: 18px;
  position: fixed;
  bottom: 70px;
  right: 40px;
}

.print-button:hover {
  background-color: rgb(92, 221, 92);
}
